{% extends 'basic.html' %}

{% block title %}
About - CodeHub
{% endblock %}

{% block body %}
<div class="container my-4">
	<h1>About Us - CodeHub</h1>
	<p>We are known for the best and free Online Programming & Other related skills Courses So that you can learn your desired skills free of cost with paying so much fee to any institute.</p>
	
	<h1>Contact</h1>
	<p>In case you want to contact us for any reason, Please feel free to contact on our email <b>hussnainahmad1606@gmail.com</b></p>
</div>
{% endblock %}

