{% extends 'basic.html' %}

{% block title %}{{ name }}{% endblock %}

{% block css %}
<style>
	.tabOption {
		font-size: 20px !important;
	}

	.main {
		display: grid;
		grid-template-columns: auto auto;
	}

	.playlist {
		overflow: scroll;
		max-height: 30rem;
		width: 10rem;
	}


	.video {
		text-decoration: none;
		transition: 0.2s ease all;
		padding: 10px 5px;
	}
	.video:hover {
		background-color: grey;
		opacity: 0.9;
		color: white;
	}

	.current {
		background-color: grey;
		opacity: 0.5;
		color: white;
	}

	.show {
		display: block
	}
	.hide {
		display: none
	}

</style>
{% endblock %}
{% block body %}
<center>
	<h1 class="my-4">{{ name }}</h1>
</center>
<div class="my-4 container main">
	<iframe width="760" height="515" src="{{ video.video_embed_code }}"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

</iframe>

 	
 <div>
<center>
	 <button id="showHidePlaylist" class="btn btn-outline-danger my-4">Hide Playlist</button>
</center>
<div class="card playlist show" id="playlist" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Playlist ({{ totalVideos }} Videos)</h5>
    <hr>
    <p class="card-text">{{ course.course_description }}</p>
    {% for videos in allVideos %}
    {% if videos.video_name == video.video_name %}
     <a href="/video/{{ videos.video_name }}" class="d-block text-align-center video current">{{ videos.video_name}}</a>
    {% else %}
    <a href="/video/{{ videos.video_name }}" class="d-block text-align-center video">{{ videos.video_name}}</a>
    {% endif %}
    {% endfor %}

  </div>
  </div>
</div>
</div>

<!-- Tabs code -->
<div class="container">
	<ul class="nav nav-tabs my-4" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="tabOption nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Announcements</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="tabOption nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="tabOption nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit in eaque beatae enim quisquam repellat soluta, atque est. Magnam consectetur fuga assumenda similique tenetur sint vero inventore nemo non accusantium.</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae natus ad, molestiae a officiis aliquam, harum soluta recusandae hic et, deserunt consequatur amet. Dolore at accusamus libero officia, error quam.</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Aut temporibus sapiente minus, tenetur praesentium fuga ea alias delectus earum doloremque vitae excepturi consequatur atque eveniet quod odio est. Aliquam, molestiae.</div>
</div>

</div>
{% endblock %}

{% block js %}
<script>
	let button = document.getElementById("showHidePlaylist");
	button.addEventListener("click", showHide)

	function showHide() {
		let playlist = document.getElementById("playlist")
		if (playlist.classList.contains("show")) {
			playlist.classList.remove("show");
			playlist.classList.add("hide");
			button.textContent = "Show Playlist";
		}
		else {
			playlist.classList.remove("hide");
			playlist.classList.add("show");
			button.textContent = "Hide Playlist";
		}
	}
</script>
{% endblock %}